.bigCheck {
    height: 35px;
    width: 35px;
}

.validacion {
    color : red;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
}

textarea {
    resize: none;
}

.sidebar {
    color: #000000 !important;
}

.table {
    color: #000000 !important;
}

.table-striped>tbody>tr:nth-of-type(odd){
    color: #000000 !important;
}

.list-group-item {
    color: #000000 !important;
}
